In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
video_json_1 = open('video_api_data_full\\full_videos_output_1_50.json')
video_json_2 = open('video_api_data_full\\full_videos_output_51_100.json')

In [4]:
video_data_1 = json.load(video_json_1)
video_data_2 = json.load(video_json_2)

In [5]:
print(len(video_data_1['items']))
print(len(video_data_2['items']))

50
50

In [6]:
video_data_1['items'][0]

{'id': 'TJ2ifmkGGus',
 'snippet': {'publishedAt': '2023-01-28T21:00:00Z',
  'title': '1,000 Blind People See For The First Time'},
 'contentDetails': {'duration': 'PT8M1S'},
 'statistics': {'viewCount': '101200476',
  'likeCount': '8229283',
  'favoriteCount': '0',
  'commentCount': '343887'}}

In [7]:
columns = [
    'id'
    , 'title'
    , 'publishedAt'
    , 'duration'
    , 'viewCount'
    , 'likeCount'
    , 'favoriteCount'
    , 'commentCount'
]
df = pd.DataFrame(columns=columns)

In [8]:


for video_data in [video_data_1,video_data_2]:
    for item in video_data['items']:
        df.loc[-1] = [
            item['id']
            , item['snippet']['title']
            , item['snippet']['publishedAt']
            , item['contentDetails']['duration']
            , item['statistics']['viewCount']
            , item['statistics']['likeCount']
            , item['statistics']['favoriteCount']
            , item['statistics']['commentCount']
        ]
        df.index = df.index + 1

df

,id,title,publishedAt,duration,viewCount,likeCount,favoriteCount,commentCount
99,TJ2ifmkGGus,"1,000 Blind People See For The First Time",2023-01-28T21:00:00Z,PT8M1S,101200476,8229283,0,343887
98,7IKab3HcfFk,I Survived 50 Hours In Antarctica,2022-12-24T20:59:59Z,PT12M10S,92959825,3884374,0,148754
97,h5NvTTOlOtI,Hydraulic Press Vs Lamborghini,2022-12-10T21:00:01Z,PT10M25S,110172252,4380170,0,126247
96,0CTp1a-aCUM,"100 Kids Vs 100 Adults For $500,000",2022-12-03T21:00:00Z,PT15M23S,111342807,3173246,0,93033
95,kX3nB4PpJko,"Last To Take Hand Off Jet, Keeps It!",2022-11-12T21:00:00Z,PT15M37S,90459418,3321630,0,104820
...,...,...,...,...,...,...,...,...
4,npDey6_9YRs,"Anything You Can Carry, I'll Pay For #2",2019-09-06T20:00:00Z,PT13M59S,59934814,1408789,0,33543
3,0NGWT9COcEI,"I Gave My Brother 24 Hours To Spend $100,000",2019-08-31T20:00:01Z,PT13M8S,73061980,2101333,0,56995
2,3LLnjRLrvLU,I Opened A Free Car Dealership,2019-08-29T20:00:00Z,PT16M39S,112273538,3150385,0,139333
1,bTrV5v7GLcQ,"Last To Leave Pool Of $20,000 Keeps It",2019-08-24T20:00:01Z,PT16M39S,139714054,2838142,0,82780
0,lBYC4_Lccjw,Surviving 24 Hours On A Deserted Island,2019-08-22T20:00:07Z,PT13M52S,143761756,2906047,0,77734

In [25]:
ids = 'TJ2ifmkGGus,7IKab3HcfFk,h5NvTTOlOtI,0CTp1a-aCUM,kX3nB4PpJko,iogcY_4xGjo,gHzuabZUd6c,65fN_OUawjk,jdMNoQE3mIQ,2isYuQZMbdU,tVWWp1PqDus,vaIgyRoUkQI,Hwybp38GnZw,hD1YtmKXNb4,LnlKwzc_TNA,3jS_yEK8qVI,00NgUctWoLQ,x9TQ6culXIA,QbJJwaVdgIs,cV2gBU6hKfY,qIsgdOVGA04,cExLQ1o2pDw,uocETPj4Jx4,zxYjTTXc-J8,hxwpkM5w3Cc,ktyJIj6i4Qw,urtFrxDUV6c,nM89Wl03Q4g,NZlClr_ivb4,E6E22XQPhhg,TQHEJj68Jew,WcwGleN38zE,fMfipiV_17o,ayXxwJJId_c,9bqk6ZUsKyA,DuQbOQwVaNE,vJH28ICkCdU,_uwNDiU04zE,C680oxL__ck,5Fg9oZk-5uA,PKtnafFtfEo,f0c7pSCoZqE,dg2Ag3e8W-Q,LeYsRMZFUq0,Dc2ZRmuH5OM,GLoeAJUcz38,SZQhgExjBvQ,IoZri9hq7z4,vp5sSqyZ5Go,Vl3swga-Xrk,UE5AHE2Ypr8,TDiXxsQ0w2Q,oD155zWANQg,s1ax8Tx_Jz0,FbM1yi4mMMc,5V2B28OqfqM,Rj_vssRaZlQ,YQDDm9HLkV4,erQ_9yEz0ls,OAbP-V6fEVc,_qAJMXfL6o0,59AYXzCa-Cs,r7zJ8srwwjk,YSoJPA8-oHc,5Hg_QSIJm8I,gsWPpE4Rid0,HBMmK1c44sE,oBYbxw8f5OI,AiGKBNGlzHo,_mdKvblL_8s,F4Y3Pkn95GI,KSKJKLmAqpI,IYVjOfoU3uI,oI6aXhowFDY,LdMx2U5tby0,Z9WQy9jEY8M,bs0SWXbty18,yeqARWqjkps,wMuYiLby3-s,NbaWrbJDr48,sfv1QaRzJg8,RwnN2FVaHmw,X1jMMFOqxEw,ORUX1lHbOa8,LU_xVr4b2qM,tQ4m4zD7BBA,D9lVNzyhYnc,jokVbbLqV_E,HPJKxAhLw5I,Ims5p6wjW9s,anFxsa5jXrE,QxGVgXf_LNk,al6130OD1Ck,d1010B3sKNQ,NS3hse9ezik,npDey6_9YRs,0NGWT9COcEI,3LLnjRLrvLU,bTrV5v7GLcQ,lBYC4_Lccjw'

In [26]:
id_list = ids.split(',')

In [27]:
len(id_list)

100